<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Volunteers</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title th:text="${title}">Volunteers</title>

    <!-- Bootstrap -->
    <link href="../../../css/main.css" th:href="@{/css/main.css}" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../../../components/jquery.min.js" th:src="@{/components/jquery.min.js}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../../../components/bootstrap.min.js" th:src="@{/components/bootstrap.min.js}"></script>
    <!-- Include jQuery validate -->
    <script src="../../../components/jquery.validate.min.js" th:src="@{/components/jquery.validate.min.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var _csrf_token = /*[[${_csrf.token}]]*/ '';
        var _csrf_param_name = /*[[${_csrf.parameterName}]]*/ '';
        /*]]>*/
    </script>
</head>
<body>
<div class="container">
    <th:block th:if="${year}!=null">
        <div class="page-header" th:replace="fragments/headerUser :: header">Header goes here!</div>

        <div class="row">
            <div class="col-md-2" th:replace="fragments/menuUser :: menu">Menu goes here!</div>
            <div th:replace="${view} :: content" class="col-md-8">Content goes here!</div>
        </div>

    </th:block>
    <th:block th:unless="${year}!=null">

    </th:block>
</div>
</body>
</html>