<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Volunteers</title>

    <!-- Bootstrap -->
    <link href="../../../css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <div class="page-header" th:replace="fragments/headerAdmin :: header">Header goes here!</div>

    <div class="row">
        <div class="col-md-2">
            <ul id="sidebar" class="nav nav-pills nav-stacked admin-sidebar well well-sm">
                <li><a href="#eventsList" data-toggle="collapse" aria-expanded="true" aria-controls="eventsList">
                    <span class="glyphicon glyphicon-chevron-down expanded" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-chevron-up collapsed" aria-hidden="true"></span>
                    Events</a>
                    <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#eventForm">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                    <ul class="collapse in" id="eventsList">
                        <th:block th:each="event : ${events}">
                            <li>
                                <a th:href="@{'/admin/event?id='+${event.id}}" th:text="${event.name}"></a>
                            </li>
                        </th:block>
                    </ul>
                </li>
                <li>
                    <a th:href="@{/admin/position}" class="collapsed">
                        <!--<span class="glyphicon glyphicon-chevron-down expanded" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-chevron-up collapsed" aria-hidden="true"></span>-->
                        Positions</a>
                    <!--<a th:href="@{/admin/positions}" type="button" class="btn btn-primary btn-xs">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </a>-->
                    <!--<ul class="collapse" id="positionsList">
                        <th:block th:each="position:${positions}">
                            <li>
                                <a href="#" th:text="${position.name}"></a>
                            </li>
                        </th:block>
                    </ul>-->

                </li>
                <!--<li>
                    <a href="#hallsList" data-toggle="collapse" aria-expanded="false" aria-controls="hallsList" class="collapsed">
                        <span class="glyphicon glyphicon-chevron-down expanded" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-chevron-up collapsed" aria-hidden="true"></span>
                        Halls</a>
                    <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#hallForm">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                    <ul class="collapse" id="hallsList">
                        <th:block th:each="hall : ${halls}">
                            <li>
                                <a href="#" th:text="${hall.name}"></a>
                            </li>
                        </th:block>
                    </ul>
                </li>-->
            </ul>

                <!-- Modal -->
                <div class="modal fade" id="eventForm" tabindex="-1" role="dialog" aria-labelledby="eventLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <form method="post" th:action="@{/admin/event/add}" th:object="${newEvent}">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="eventLabel">Add new position</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group" th:class="${#fields.hasErrors('name')}? 'has-error form-group' : 'form-group'">
                                        <label for="eventName">Event name</label>
                                        <input type="text" class="form-control" id="eventName" th:field="*{name}" />
                                        <span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                                    </div>
                                    <div class="form-group" th:class="${#fields.hasErrors('information')}? 'has-error form-group' : 'form-group'">
                                        <label for="information">Information</label>
                                        <input type="text" class="form-control" id="information" th:field="*{information}" />
                                        <span class="help-block" th:if="${#fields.hasErrors('information')}" th:errors="*{information}"></span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Add</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


                <!-- Modal -->
                <div class="modal fade" id="hallForm" tabindex="-1" role="dialog" aria-labelledby="hallLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <form method="post" th:action="@{/admin/hall/add}" th:object="${newHall}">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="hallLabel">Add new hall</h4>
                                </div>
                                <div class="modal-body">

                                    <div class="form-group" th:class="${#fields.hasErrors('name')}? 'has-error form-group' : 'form-group'">
                                        <label for="hallName">Hall name</label>
                                        <input type="text" class="form-control" id="hallName" th:field="*{name}" />
                                        <span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                                    </div>
                                    <div class="form-group" th:class="${#fields.hasErrors('decryption')}? 'has-error form-group' : 'form-group'">
                                        <label for="decryption">Decryption</label>
                                        <input type="text" class="form-control" id="decryption" th:field="*{decryption}" />
                                        <span class="help-block" th:if="${#fields.hasErrors('decryption')}" th:errors="*{decryption}"></span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Add</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
        </div>

        <div th:replace="${view} :: content" class="col-md-8">Content goes here!</div>

    </div>
</div>
<footer class="footer">
    <div class="container">
        <div th:replace="fragments/footer :: footer">Footer goes here!</div>
    </div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../../../components/jquery.min.js" th:src="@{/components/jquery.min.js}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../../../components/bootstrap.min.js" th:src="@{/components/bootstrap.min.js}"></script>
</body>
</html>
