<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title th:text="${title}">Volunteers</title>

    <!-- Bootstrap -->
    <link href="../../../css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">

    <th:block th:if="${year}!=null">
        <div class="page-header" th:replace="fragments/headerAdmin :: header">Header goes here!</div>


        <div class="row">
            <th:block th:if="${year}!=null">
                <div class="col-md-2" th:replace="fragments/menuAdmin :: menu">Meny goes here!</div>
                <div th:replace="${view} :: content" class="col-md-8">Content goes here!</div>
            </th:block>
    </div>

    </th:block>
    <th:block th:unless="${year}!=null">
        <div class="page-header" th:replace="fragments/header :: header">Header goes here, if no year in database</div>
        <!-- Model-->
        <div class="modal fade" id="yearForm" tabindex="-1" role="dialog" aria-labelledby="yearLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form method="post" th:action="@{/admin/year/add}" th:object="${newYear}">
                        <div class="modal-header">
                            <button type="button" class="close disabled" data-dismiss="modal" aria-label="Close" disabled="disabled"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="yearLabel">Add new year</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group" th:class="${#fields.hasErrors('name')}? 'has-error form-group' : 'form-group'">
                                <label for="positionName">Year name</label>
                                <input type="text" class="form-control" id="positionName" th:field="*{name}" />
                                <span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default disabled" data-dismiss="modal" disabled="disabled">Close</button>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </th:block>
</div>
<footer class="footer">
    <div class="container">
        <div th:replace="fragments/footer :: footer">Footer goes here!</div>
    </div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../../../components/jquery.min.js" th:src="@{/components/jquery.min.js}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../../../components/bootstrap.min.js" th:src="@{/components/bootstrap.min.js}"></script>

<th:block th:if="${year==null}">
    <script type="text/javascript">
            $('#yearForm').modal('show');
    </script>
</th:block>
</body>
</html>
