@import "bootstrap-sass/assets/stylesheets/bootstrap";

.sign-in-form {
    margin-top:30px;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  .container {
    background-color: #f5f5f5;
    .text-muted {
      margin: 20px 0;
    }
  }
}


.admin-sidebar {
  background-color: transparent;
  .glyphicon {
    font-size: 80%;
  }
  & > li > a {
    & + button {
      position: absolute;
      right: 10px;
      top: 8px;
    }
    //padding-left: 30px;
    //&:before {
    //  position: absolute;
    //  content: "-";
    //  left: 15px;
    //
    //}
    //&.collapsed:before {
    //  content: "+";
    //}
    &:not(.collapsed) .expanded {
      display: none;
    }
    &.collapsed .collapsed {
      display: none;
    }
  }
}

.form-group .list-group {
    margin-bottom: 0;
}

.has-error .list-group-item {
    border-color: #a94442;
}

table.table > thead > tr > th {
  vertical-align: top;
  &:hover {
    color: #0000bb;
    label {
      cursor: pointer;
    }
  }
}

.show-grid {  margin-bottom: 15px; }

.material-switch {
  & > input[type="checkbox"] {
    display: none;
    &:checked + label::before {
      background: inherit;
      opacity: 0.5;
    }
    &:checked + label::after {
      background: inherit;
      left: 20px;
    }
  }

  & > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
    &::before {
      background: rgb(0, 0, 0);
      box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
      border-radius: 8px;
      content: '';
      height: 16px;
      margin-top: -8px;
      position: absolute;
      opacity: 0.3;
      transition: all 0.4s ease-in-out;
      width: 40px;
    }
    &::after {
      background: rgb(255, 255, 255);
      border-radius: 16px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
      content: '';
      height: 24px;
      left: -4px;
      margin-top: -8px;
      position: absolute;
      top: -4px;
      transition: all 0.3s ease-in-out;
      width: 24px;
    }
  }
}




  .list-group-horizontal .list-group-item {
    display: inline-block;
    margin-bottom: 0;
    margin-left: -4px;
    margin-right: 0;
    border-right-width: 0;
    &:first-child {
      border-top-right-radius: 0;
      border-bottom-left-radius: 4px;
    }
    &:last-child {
      border-top-right-radius: 4px;
      border-bottom-left-radius: 0;
      border-right-width: 1px;
    }
  }



  a {
    &:hover {
      background: #ffffff; /*необходимо для IE6*/
      text-decoration: none;
    }

    &.mytooltip {

      span {
        display: none;
        padding: 2px 3px;
        margin-left: 8px;
        text-align: left;
      }
      &:hover span {
        display: inline;
        position: absolute;
        background: #ffffff;
        border: 1px solid #cccccc;
        color: #6c6c6c;
      }
    }
  }


  .dataTables_filter, .dataTables_info {
    display: none;
  }

  .top-buttons-panel {
    margin-bottom: 20px;
  }



  ul.flat-list {
    padding: 0;
    margin: -4px 0;
    li {
      display: inline-block;
      margin: 4px 0;
    }
  }