
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Login</title>
</head>
<body>
    <form th:action="@{/login}" method="post">
        <div th:if="${error!=null}" th:text="${error}"></div>
        <div th:if="${message!=null}" th:text="${message}"></div>
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <table>
            <tr>
                <td>UserId</td>
                <td><input type="text" name="username" /></td>

            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="password" /></td>
            </tr>
            <tr>
                <td><button type="submit">Log In</button> </td>
                <td><a href="/signup">Регистрация</a> </td>
            </tr>
        </table>
    </form>
</body>
</html>