<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
    <form action="#" th:action="@{/signup}" th:object="${user}" method="post" >
        <table>
            <tr>
                <td>Имя:</td>
                <td><input type="text" th:field="*{name}" /></td>
                <td th:id="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
            </tr>
            <tr>
                <td>Фамилия:</td>
                <td><input type="text" th:field="*{surname}" /></td>
                <td th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname Error</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="email" th:field="*{email}" /></td>
                <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</td>
            </tr>
            <tr>
                <td>Badge name:</td>
                <td><input type="text" th:field="*{badge}" /></td>
                <td th:if="${#fields.hasErrors('badge')}" th:errors="*{badge}">BadgeName Error</td>
            </tr>

            <tr>
                <td>Пароль</td>
                <td><input type="password" th:field="*{password}" /> </td>
                <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
            </tr>

            <tr>
                <td>Повтор пароля</td>
                <td><input type="password" th:field="*{confirmPassword}" /></td>
                <td th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">Confirm password Error</td>
                <td th:if="${#fields.hasErrors('passwordEquals')}" th:errors="*{passwordEquals}">Confirm password Error</td>
            </tr>

            <!--
            todo: write other inputs
            -->

            <tr>
                <td><button type="submit">Submit</button> </td>
            </tr>
        </table>
    </form>
</body>
</html>