<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:text="${year.name}">Title</title>
</head>
<body>
    <form th:action="@{/logout}" method="post">
        <button type="submit">Log out</button>
        <a href="/admin">Back</a><br/>
    </form>

    <ul>
        <th:block th:each="event : ${events}">
            <li>
                <a th:href="@{'/admin/event?id='+${event.id}}" th:text="${event.name}"></a>
            </li>
        </th:block>
    </ul>
    <form th:action="@{/admin/event/add}" method="post" th:object="${event}">
        <input type="hidden" th:field="*{year}" />
        <table>
            <tr>
                <td>
                    Имя:
                </td>
                <td>
                    <input type="text" th:field="*{name}" />
                </td>
                <td th:if="${#fields.hasErrors('name')}" th:error="${name}"></td>
            </tr>
            <tr>
                <td>
                    Информация:
                </td>
                <td><textarea th:field="*{information}" multiple="multiple"></textarea></td>
                <td th:if="${#fields.hasErrors('information')}" th:error="${information}"></td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Add</button>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>