<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div class="content" th:fragment="content">
    <form th:action="@{/updatePassword}" method="post" class="form-horizontal col-sm-offset-2 col-sm-8"
          th:object="${form}">
        <h2 th:text="#{volunteers.login.passwordReset}" class="col-sm-offset-4"></h2>
        <div class="form-group" th:class="${#fields.hasErrors('password')}? 'has-error form-group' : 'form-group'">
            <label for="inputPassword" class="col-sm-4 control-label" th:text="#{volunteers.form.signUp.password}">Password</label>
            <div class="col-sm-8">
                <input type="password" th:field="*{password}" class="form-control" id="inputPassword"
                       placeholder="Password" th:placeholder="#{volunteers.form.signUp.password}"/>
                <span class="help-block" th:if="${#fields.hasErrors('password')}"
                      th:text="#{volunteers.form.signUp.password.error.empty}">Can't be empty</span>
            </div>
        </div>
        <div class="form-group"
             th:class="${#fields.hasErrors('confirmPassword') || #fields.hasErrors('passwordEquals')}? 'has-error form-group' : 'form-group'">
            <label for="inputConfirmPassword" class="col-sm-4 control-label"
                   th:text="#{volunteers.form.signUp.confirmPassword}">Confirm password</label>
            <div class="col-sm-8">
                <input type="password" th:field="*{confirmPassword}" class="form-control" id="inputConfirmPassword"
                       placeholder="Confirm password" th:placeholder="#{volunteers.form.signUp.confirmPassword}"/>
                <span class="help-block" th:if="${#fields.hasErrors('passwordEquals')}"
                      th:text="#{volunteers.form.signUp.confirmPassword.error.equals}">Passwords are not equals</span>
                <span class="help-block" th:if="${#fields.hasErrors('confirmPassword')}"
                      th:text="#{volunteers.form.signUp.confirmPassword.error.empty}">Can't be empty</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <button type="submit" class="btn btn-default">Sign up</button>
                <a th:href="@{/login?logout}" class="btn btn-link" th:text="#{volunteers.login.login}" href="/logout">Log
                    in</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>