<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${day.name}">Title</title>
</head>
<body>
<div th:fragment="content" class="col-md-10">


    <script type="text/javascript" src="../../components/jquery.dataTables.js"
            th:src="@{/components/jquery.dataTables.js}"></script>

    <div class="row">

        <th:block th:if="${days.size()!=1}">
            <!--<form th:action="@{/admin/day/copy}" method="post">-->
            <!--<input type="hidden" name="eventId" th:value="${day.id}"/>-->
            <div class="col-md-8">
                <select name="baseEventId" class="form-control"
                        onchange="copyEvent(this.value);">
                    <option selected="true" value="-1" th:text="#{volunteers.day.form.copy.header}"
                            disabled="true">Choose day
                        to copy arrangement
                    </option>
                    <th:block th:each="e:${days}">
                        <th:block th:if="${e.id}!=${day.id}">
                            <option th:value="${e.id}" th:text="${e.name}"></option>
                        </th:block>
                    </th:block>
                </select>
            </div>
            <!--<div class="col-md-2">
                <button type="submit" class="btn btn-primary" th:text="#{volunteers.form.button.copy}">Copy</button>
            </div>-->
            <!--</form>-->
        </th:block>
    </div>


    <div class="table-responsive">
        <table class="table" id="table">
            <thead>
                <tr>
                    <th class="col-md-2">
                        <label th:text="#{volunteers.day.id}">ID</label>
                        <input type="text" class="form-control"
                               th:placeholder="#{volunteers.day.search}"/>
                    </th>
                    <th class="col-md-2">
                        <label th:text="#{volunteers.day.volunteer}">User</label>
                        <input type="text" class="form-control"
                               th:placeholder="#{volunteers.day.search}"/>
                    </th>
                    <th class="col-md-1">
                        <label th:text="#{volunteers.day.positions.wish}">Positions</label>
                        <input type="text" class="form-control"
                               th:placeholder="#{volunteers.day.search}"/>
                    </th>
                    <th class="col-md-1">
                        <label th:text="#{volunteers.day.comments}">Comments</label>
                        <input type="text" class="form-control"
                               th:placeholder="#{volunteers.day.search}"/>
                    </th>
                    <th class="col-md-2">
                        <label th:text="#{volunteers.day.experience}">Experience</label>
                        <input type="text" class="form-control"
                               th:placeholder="#{volunteers.day.search}"/>
                    </th>
                    <th class="col-md-2">
                        <label th:text="#{volunteers.day.position}">Position</label>
                        <input type="text" class="form-control"
                               th:placeholder="#{volunteers.day.search}"/>
                    </th>
                    <th class="col-md-2">
                        <label th:text="#{volunteers.day.hall}">Hall</label>
                        <input type="text" class="form-control" id="hall-search"
                               th:placeholder="#{volunteers.day.search}"/>
                    </th>
                </tr>
            </thead>

            <tbody>
            <!--<form th:action="@{/admin/day/save}" method="post">-->
            <!--<input type="hidden" th:name="day" th:value="${day.id}"/>-->
            <th:block th:each="user, idx:${users}">

                <tr>
                    <td th:text="${user.userYear.registrationDate==null}?${user.userYear.id}:${user.userYear.registrationDate}"></td>
                    <td th:text="${user.userYear.user.badgeName}+' ('+${user.userYear.group}+')'"></td>
                    <td class="list-group">
                        <span th:text="${user.userYear.positionsStr()}"></span>
                        <!--<span th:each="position:${user.userYear.positions}" class="list-group-item"-->
                              <!--th:text="${position.name}"></span>-->

                    </td>
                    <td th:text="${user.userYear.suggestions}"></td>
                    <td>
                        <ul th:if="${exp.get(user).keySet().size() > 0}" class="list-group">
                            <li th:each="year:${exp.get(user).keySet()}" class="list-group-item">
                                <label th:text="${year.name}"></label>
                                <ul class="list-group">
                                    <li th:each="pair:${exp.get(user).get(year)}" class="list-group-item">
                                        <label th:text="${pair.getKey().name}+': '+${pair.getValue().name}"></label>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <label th:if="${exp.get(user).keySet().isEmpty()}"
                               th:text="#{volunteers.day.exp.noExp}"></label>
                    </td>
                    <td th:id="'pos-'+${idx.index}">
                        <span style="display:none" th:text="'---'+${user.position.name}"></span>
                        <select class="form-control" th:name="p+${user.id}"
                                th:onchange="'savePosition('+${user.id}+', this.value);uh.updateSearchText(\'pos-'+${idx.index}+'\');'"
                                th:id="'position'+${user.id}">
                            <th:block th:each="position:${positions}">
                                <option th:value="${position.id}" th:selected="${position.id}==${user.position.id}"
                                        th:text="${position.name}"></option>
                            </th:block>
                        </select>
                    </td>
                    <td th:id="'hall-'+${idx.index}">
                        <span style="display:none" th:text="'---'+${user.hall.name}"></span>
                        <select class="form-control" th:name="h+${user.id}"
                                th:onchange="'saveHall('+${user.id}+', this.value);uh.updateSearchText(\'hall-'+${idx.index}+'\');'"
                                th:id="'hall'+${user.id}">
                            <th:block th:each="hall:${halls}">
                                <option th:value="${hall.id}" th:selected="${hall.id}==${user.hall.id}"
                                        th:text="${hall.name}"></option>
                            </th:block>
                        </select>
                    </td>
                </tr>
            </th:block>
            <!--<tr>
                <td colspan="3" align="center">
                    <button type="submit" class="btn btn-primary" th:text="#{volunteers.form.button.save}">Save</button>
                </td>
            </tr>-->
            <!--</form>-->

            </tbody>
        </table>
    </div>

    <script th:inline="javascript">
        function savePosition(id, value) {
            console.log(id + " " + value);
            var data = {
                'userId': id,
                'positionId': value,
                'hallId': -1
            };
            data[_csrf_param_name] = _csrf_token;
            $.ajax({
                type: "post",
                data: data,
                url: /*[[@{/admin/day/save/}]]*/"/admin/day/save/",
                dataType: "json",
                success: function (data) {
                    if (data.status === "OK") {
                        console.log("success");
                    } else {
                        alert(data.result);
                    }
                }
            })
        }

        function saveHall(id, value) {
            console.log(id + " " + value);
            var data = {
                'userId': id,
                'hallId': value,
                'positionId': -1
            };
            data[_csrf_param_name] = _csrf_token;
            $.ajax({
                type: "post",
                data: data,
                url: /*[[@{/admin/day/save/}]]*/"/admin/day/save/",
                dataType: "json",
                success: function (data) {
                    if (data.status === "OK") {
                        console.log("success");
                    } else {
                        alert(data.result);
                    }
                }
            })
        }

        function copyEvent(id) {
            var eventId = /*[[${day.id}]]*/-1;
            var data = {
                "eventId": eventId,
                "baseEventId": id
            };
            data[_csrf_param_name] = _csrf_token;
            $.ajax({
                type: "post",
                data: data,
                url: /*[[@{/admin/day/copy/}]]*/"/admin/day/copy/",
                dataType: "json",
                success: function (data) {
                    if (data.status === "OK") {
                        console.log("success");
                        /*<![CDATA[*/
                        for (var i = 0; i < data.result.users.length; i++) {
                            var user = data.result.users[i];
                            $("#hall" + user.id).val(user.hall.id);
                            $("#position" + user.id).val(user.position.id);
                        }
                        /*]]>*/
                    } else {
                        alert(data.result);
                    }
                }
            })
        }

        $.fn.dataTable.ext.order['dom-select'] = function  ( settings, col )
        {
            return this.api().column( col, {order:'index'} ).nodes().map( function ( td, i ) {
                return $('select', td).val();
            } );
        };
        var uh = {};

        $(document).ready(function () {
            /*$('#table thead th').each( function () {
                var title = $(this).text();
                $(this).html( '<label>'+title+'</label><input type="text" class="form-control" placeholder="Search '+title+'" />' );
            } );*/

            // DataTable
            var table = $('#table').DataTable({
                "pageLength": 100,
                "bPaginate": false,
                "bLengthChange": false,
                "bFilter": true,
                "bInfo": false,
                "bAutoWidth": false,
                "autowidth": false,
                "ordering": true,
                "columns": [
                    {"orderable": false },
                    {"orderable": false },
                    {"orderable": false },
                    {"orderable": false },
                    {"orderable": false },
                    { "orderable": false, "orderDataType": "dom-select" },
                    { "orderable": false, "orderDataType": "dom-select" }
                ]
            });

            // Apply the search
            table.columns().every(function () {
                var that = this; // column

                $('input', this.header()).on('keyup change', function () {
                    var f = (that.index() >= 5 ? '---' : '') + this.value;
                    if (that.search() !== f) {
                        that
                            .search(f)
                            .draw();
                        console.log(this.value)
                    }
                });
                $('label', this.header()).on('click', function () {
                    var current = table.order();
                    var currentOrder = null;
                    if (current) {
                        if (current[0][0] == that.index()) {
                            currentOrder = current[0][1];
                        }
                    }
                    that.order(currentOrder == 'asc' ? 'desc' : 'asc').draw();
                });
            });

            uh.updateSearchText = function(id) {
                var element = $('#'+id + ' select')[0];
                var text = element.options[element.selectedIndex].text;
                $('#'+id + ' span').text('---'+text);
                table.cell($('#'+id).get()).invalidate();
            }


        });

    </script>
</div>
</body>
</html>