<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${day.name}">Title</title>
</head>
<body>
<div th:fragment="content" class="col-md-10">

    <div class="row">

        <th:block th:if="${days.size()!=1}">
            <!--<form th:action="@{/admin/day/copy}" method="post">-->
            <!--<input type="hidden" name="eventId" th:value="${day.id}"/>-->
                <div class="col-md-8">
                    <select name="baseEventId" class="form-control"
                            onchange="copyEvent(this.value);">
                        <option selected="true" value="-1" th:text="#{volunteers.day.form.copy.header}"
                                disabled="true">Choose day
                            to copy arrangement
                        </option>
                        <th:block th:each="e:${days}">
                            <th:block th:if="${e.id}!=${day.id}">
                                <option th:value="${e.id}" th:text="${e.name}"></option>
                            </th:block>
                        </th:block>
                    </select>
                </div>
            <!--<div class="col-md-2">
                <button type="submit" class="btn btn-primary" th:text="#{volunteers.form.button.copy}">Copy</button>
            </div>-->
            <!--</form>-->
        </th:block>
    </div>


    <div class="table-responsive">
        <table class="table">
            <thead>
            <th th:text="#{volunteers.day.volunteer}">
                User
            </th>
            <th th:text="#{volunteers.day.position}">
                Position
            </th>
            <th th:text="#{volunteers.day.hall}">
                Hall
            </th>
            </thead>
            <tbody>
            <!--<form th:action="@{/admin/day/save}" method="post">-->
            <!--<input type="hidden" th:name="day" th:value="${day.id}"/>-->
                <th:block th:each="user:${users}">

                    <tr>
                        <td th:text="${user.userYear.user.badgeName}"></td>
                        <td>
                            <select class="form-control" th:name="p+${user.id}"
                                    th:onchange="'savePosition('+${user.id}+', this.value);'"
                                    th:id="'position'+${user.id}">
                                <th:block th:each="position:${positions}">
                                    <option th:value="${position.id}" th:selected="${position.id}==${user.position.id}"
                                            th:text="${position.name}"></option>
                                </th:block>
                            </select>
                        </td>
                        <td>
                            <select class="form-control" th:name="h+${user.id}"
                                    th:onchange="'saveHall('+${user.id}+', this.value);'"
                                    th:id="'hall'+${user.id}">
                                <th:block th:each="hall:${halls}">
                                    <option th:value="${hall.id}" th:selected="${hall.id}==${user.hall.id}"
                                            th:text="${hall.name}"></option>
                                </th:block>
                            </select>
                        </td>
                    </tr>
                </th:block>
            <!--<tr>
                <td colspan="3" align="center">
                    <button type="submit" class="btn btn-primary" th:text="#{volunteers.form.button.save}">Save</button>
                </td>
            </tr>-->
            <!--</form>-->

            </tbody>
        </table>
    </div>

    <script th:inline="javascript">
        function savePosition(id, value) {
            console.log(id + " " + value);
            var data = {
                'userId': id,
                'positionId': value,
                'hallId': -1
            };
            data[_csrf_param_name] = _csrf_token;
            $.ajax({
                type: "post",
                data: data,
                url: /*[[@{/admin/day/save/}]]*/"/admin/day/save/",
                dataType: "json",
                success: function (data) {
                    if (data.status === "OK") {
                        console.log("success");
                    } else {
                        alert(data.result);
                    }
                }
            })
        }

        function saveHall(id, value) {
            console.log(id + " " + value);
            var data = {
                'userId': id,
                'hallId': value,
                'positionId': -1
            };
            data[_csrf_param_name] = _csrf_token;
            $.ajax({
                type: "post",
                data: data,
                url: /*[[@{/admin/day/save/}]]*/"/admin/day/save/",
                dataType: "json",
                success: function (data) {
                    if (data.status === "OK") {
                        console.log("success");
                    } else {
                        alert(data.result);
                    }
                }
            })
        }

        function copyEvent(id) {
            var eventId = /*[[${day.id}]]*/-1;
            var data = {
                "eventId": eventId,
                "baseEventId": id
            };
            data[_csrf_param_name] = _csrf_token;
            $.ajax({
                type: "post",
                data: data,
                url: /*[[@{/admin/day/copy/}]]*/"/admin/day/copy/",
                dataType: "json",
                success: function (data) {
                    if (data.status === "OK") {
                        console.log("success");
                        /*<![CDATA[*/
                        for (var i = 0; i < data.result.users.length; i++) {
                            var user = data.result.users[i];
                            $("#hall" + user.id).val(user.hall.id);
                            $("#position" + user.id).val(user.position.id);
                        }
                        /*]]>*/
                    } else {
                        alert(data.result);
                    }
                }
            })
        }
    </script>
</div>
</body>
</html>