<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
    <div th:fragment="content" class="col-md-10">
        <div class="table-responsive">
            <div class="has-error form-group" th:if="${message!=null}">
                <label th:text="${message}" class="help-block"></label>
            </div>
            <table class="table table-hover">
                <thead>
                <th th:text="#{volunteers.hall.hallName}">Hall name</th>
                <th th:text="#{volunteers.hall.hallDescription}">Hall description</th>
                </thead>
                <tbody>
                    <th:block th:each="hall : ${halls}">
                        <tr>
                            <td>
                                <label th:text="${hall.name}">
                                </label>
                            </td>
                            <td>
                                <label th:text="${hall.description}"></label>
                            </td>
                            <td>
                                <a th:if="${hall.id}==1" class="btn btn-default" role="button"
                                   th:text="#{volunteers.form.button.delete}" disabled="true">Delete</a>
                                <a th:unless="${hall.id}==1" th:href="@{'/admin/hall/delete?id='+${hall.id}}"
                                   class="btn btn-default"
                                   role="button" th:text="#{volunteers.form.button.delete}">Delete</a>
                            </td>
                        </tr>
                    </th:block>
                    <tr>
                        <td></td>
                        <td>
                            <a href="#" data-toggle="modal" data-target="#hallForm" class="btn btn-default"
                               role="button" th:text="#{volunteers.hall.button.add}">Add</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="hallForm" tabindex="-1" role="dialog" aria-labelledby="hallLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form method="post" th:action="@{/admin/hall/add}" th:object="${newHall}">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="hallLabel" th:text="#{volunteers.form.hall.header}">Add
                                hall</h4>
                        </div>
                        <div class="modal-body">

                            <div class="form-group" th:class="${#fields.hasErrors('name')}? 'has-error form-group' : 'form-group'">
                                <label for="hallName" th:text="#{volunteers.form.hall.hallName}">Hall name</label>
                                <input type="text" class="form-control" id="hallName" th:field="*{name}" />
                                <span class="help-block" th:if="${#fields.hasErrors('name')}"
                                      th:text="#{volunteers.form.hall.hallName.error.empty}"></span>
                            </div>
                            <div class="form-group"
                                 th:class="${#fields.hasErrors('description')}? 'has-error form-group' : 'form-group'">
                                <label for="description"
                                       th:text="#{volunteers.form.hall.hallDescription}">Description</label>
                                <input type="text" class="form-control" id="description" th:field="*{description}"/>
                                <span class="help-block" th:if="${#fields.hasErrors('description')}"
                                      th:text="#{volunteers.form.hall.hallDescription.error.empty}"></span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal"
                                    th:text="#{volunteers.form.button.close}">Close
                            </button>
                            <button type="submit" class="btn btn-primary" th:text="#{volunteers.hall.button.add}">Add
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
