<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Positions</title>
</head>
<body>
<div th:fragment="content" class="col-md-10">
    <div class="table-responsive">
        <div class="has-error form-group" th:if="${message!=null}">
            <label th:text="${message}" class="help-block"></label>
        </div>
        <table class="table table-hover text-center" id="positions">
            <thead>
            <th th:text="#{volunteers.position.name}" class="text-center">Position</th>
            <th th:text="#{volunteers.position.name.cur}" class="text-center">Позиция</th>
            <th th:text="#{volunteers.position.value}" class="text-center" th:unless="${isUser}">Value</th>
            <th th:text="#{volunteers.position.order}" class="text-center" th:unless="${isUser}">Order</th>
            <th th:text="#{volunteers.position.inForm}" class="text-center" th:unless="${isUser}">In form</th>
            <th th:unless="${isUser}"></th>
            </thead>
            <tbody>
            <th:block th:each="position : ${positions}">
                <tr th:id="${position.id}">
                    <td>

                        <label th:if="${isUser}" th:text="${position.name}" th:for="position+${position.id}">
                        </label>
                        <input th:unless="${isUser}" type="text" class="form-control" th:value="${position.name}"
                               th:id="'name'+${position.id}"
                               th:name="name+${position.id}" th:onblur="'updatePosition('+${position.id}+');'"/>
                        <input type="hidden" th:id="originName+${position.id}" th:value="${position.name}"/>
                    </td>
                    <td>
                        <label th:if="${isUser}" th:text="${position.curName}" th:for="position+${position.id}"></label>
                        <input th:unless="${isUser}" type="text" class="form-control" th:value="${position.curName}"
                               th:id="'curName'+${position.id}"
                               th:name="cn+${position.id}" th:onblur="'updatePosition('+${position.id}+');'"/>
                        <input th:unless="${isUser}" type="hidden" th:value="${position.curName}"
                               th:id="originCurName+${position.id}"/>
                    </td>
                    <td th:unless="${isUser}">
                        <input type="number" step="any" class="form-control"
                               th:value="${position.value}" th:id="value+${position.id}"
                               th:name="v+${position.id}" min="0"
                               th:onblur="'updatePosition('+${position.id}+');'"/>
                        <input type="hidden" th:value="${position.value}"
                               th:id="originValue+${position.id}"/>
                    </td>
                    <td th:unless="${isUser}">
                        <input type="number" class="form-control" th:value="${position.ord}"
                               th:id="'order'+${position.id}"
                               th:onblur="'updatePosition('+${position.id}+');'"/>
                        <input type="hidden" th:value="${position.ord}"
                               th:id="originOrder+${position.id}"/>
                    </td>
                    <td th:unless="${isUser}">
                        <input type="checkbox" th:checked="${position.inForm}" th:value="${position.id}"
                               th:id="'inForm'+${position.id}" th:onblur="'updatePosition('+${position.id}+');'"/>
                        <input type="hidden" th:checked="${position.inForm}" th:id="originInForm+${position.id}"/>
                    </td>
                    <td th:unless="${isUser}">
                        <a th:unless="${position.def}"
                           th:onclick="'deletePosition('+${position.id}+'); return false;'"
                           class="btn btn-default" role="button"
                           th:text="#{volunteers.form.button.delete}">Delete</a>
                        <a th:if="${position.def}" class="btn btn-default" role="button"
                           disabled="true" th:text="#{volunteers.form.button.delete}">Delete</a>
                    </td>
                </tr>
            </th:block>
            <tr th:unless="${isUser}">
                <td colspan="6" class="text-center">
                    <a href="#" data-toggle="modal" data-target="#positionForm" class="btn btn-default "
                       role="button" th:text="#{volunteers.hall.button.add}">Add</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="positionForm" tabindex="-1" role="dialog" aria-labelledby="positionLabel"
         th:unless="${isUser}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="post" th:object="${newPosition}" id="position">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="positionLabel" th:text="#{volunteers.form.position.header}">Add
                            new position</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group"
                             th:class="${#fields.hasErrors('name')}? 'has-error form-group' : 'form-group'">
                            <label for="positionName" th:text="#{volunteers.form.position.positionName}">Position
                                name</label>
                            <input type="text" class="form-control" id="positionName" th:field="*{name}"/>
                            <span class="help-block" th:if="${#fields.hasErrors('name')}"
                                  th:text="#{volunteers.form.position.positionName.error}"></span>
                        </div>
                        <div class="form-group"
                             th:class="${#fields.hasErrors('curName')}?'has-error form-group':'form-group'">
                            <label for="positionCurName" th:text="#{volunteers.form.position.positionCurName}">Position
                                cur-name</label>
                            <input type="text" class="form-control" id="positionCurName" th:field="*{curName}"/>
                            <span class="help-block" th:if="${#fields.hasErrors('curName')}"
                                  th:text="#{volunteers.form.position.positionCurName.error}"></span>
                        </div>
                        <div class="form-group"
                             th:class="${#fields.hasErrors('value')}? 'has-error form-group':'form-group'">
                            <label for="positionValue" th:text="#{volunteers.form.position.positionValue}">Position
                                value</label>
                            <input type="number" step="any" class="form-control" id="positionValue" th:field="*{value}"
                                   value="0" min="0"/>
                            <span class="help-block" th:if="${#fields.hasErrors('value')}">Error</span>
                        </div>
                        <div class="form-group"
                             th:class="${#fields.hasErrors('order')? 'has-error form-group': 'form-group'}">
                            <label for="positionOrder" th:text="#{volunteers.form.position.order}">Position
                                order</label>
                            <input type="number" class="form-control" id="positionOrder" th:field="*{order}"
                                   value="0"/>
                            <span class="help-block" th:if="${#fields.hasErrors('order')}">Error</span>


                        </div>
                        <div class="form-group"
                             th:class="${#fields.hasErrors('forUser')? 'has-error form-group': 'form-group'}">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="positionPublic"
                                           th:field="*{forUser}"
                                           value="true"/>
                                    <span th:text="#{volunteers.form.position.inForm}">Position
                                    order</span>
                                </label>
                            </div>
                            <span class="help-block" th:if="${#fields.hasErrors('forUser')}">Error</span>
                        </div>
                    </div>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-link" data-dismiss="modal"
                           th:text="#{volunteers.form.button.close}">Close</a>
                        <button type="submit" class="btn btn-primary" th:text="#{volunteers.form.button.add}">Add
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script th:inline="javascript" th:unless="${isUser}">
        $(function () {
            $('#position').validate({
                rules: {
                    name: {
                        minlength: 1,
                        required: true
                    },
                    curName: {
                        minlength: 1,
                        required: true
                    }
                },
                messages: {
                    name: /*[[#{volunteers.form.position.positionName.error}]]*/"",
                    curName: /*[[#{volunteers.form.position.positionCurName.error}]]*/""
                },
                errorElement: 'span',
                errorClass: 'help-block',
                highlight: function (element) {
                    $(element).closest('.form-group').addClass('has-error');
                },
                unhighlight: function (elements) {
                    $(elements).closest('.form-group').removeClass('has-error');
                },
                submitHandler: function (form) {
                    var str = $(form).serialize();
                    console.log(str);
                    $.ajax({
                        type: "post",
                        data: str,
                        url: /*[[@{/admin/position/add/}]]*/"/admin/position/add/",
                        dataType: "json",
                        success: function (data) {
                            if (data.status === "OK") {
                                var note = /*[[#{volunteers.form.button.delete}]]*/'Delete';
                                var checked = data.result.inForm ? ' checked' : '';
                                /*<![CDATA[*/
                                var str = '<tr id="' + data.result.id + '">' +
                                    '<td>' +
                                    '<input type="text" class="form-control" id="name' + data.result.id + '" value="' + data.result.name + '" onblur="updatePosition(' + data.result.id + '); "/>' +
                                    '<input type="hidden" id="originName' + data.result.id + '" value="' + data.result.name + '" onblur="updatePosition(' + data.result.id + '); "/>' +
                                    '</td>' +
                                    '<td>' +
                                    '<input type="text" class="form-control" id="curName' + data.result.id + '" value="' + data.result.curName + '" onblur="updatePosition(' + data.result.id + '); "/>' +
                                    '<input type="hidden" id="originCurName' + data.result.id + '" value="' + data.result.curName + '" onblur="updatePosition(' + data.result.id + '); "/>' +
                                    '</td>' +
                                    '<td>' +
                                    '<input type="number" step="any" class="form-control" min="0" id="value' + data.result.id + '" name="v' + data.result.id + '" value="' + data.result.value + '" onblur="updatePosition(' + data.result.id + ');"/>' +
                                    '<input type="hidden" id="originValue' + data.result.value + '" value="' + data.result.value + '" />' +
                                    '</td>' +
                                    '<td>' +
                                    '<input type="number" class="form-control" value="' + data.result.ord + '" id="order' + data.result.id + '" onblur="updatePosition(' + data.result.id + ');"/>' +
                                    '<input type="hidden" value="' + data.result.ord + '" id="originOrder' + data.result.id + '" />' +
                                    '</td>' +
                                    '<td>' +
                                    '<input type="checkbox"' + checked + ' value="' + data.result.id + '" id="inForm' + data.result.id + '" onblur="updatePosition(' + data.result.id + ');"/>' +
                                    '<input type="hidden"' + checked + ' value="' + data.result.id + '" id="originInForm' + data.result.id + '"/>' +
                                    '</td>' +
                                    '<td>' +
                                    '<a class="btn btn-default" role="button" onclick="deletePosition(' + data.result.id + '); return false;">' + note + '</a>' +
                                    '</td>' +
                                    '</tr>';
                                /*]]>*/
                                $("#positions tbody").find("tr:last").before(str);
                                $('#inForm' + data.result.id).prop('checked', data.result.inForm);
                                $("#positionForm").modal("hide");
                                form.reset();
                            }
                            if (data.status === "FAIL") {
                            }
                            console.log("success");
                        }
                    });
                }
            })
        });


        function deletePosition(id) {
            var data = {
                'id': id
            };
            data[_csrf_param_name] = _csrf_token;
            $.ajax({
                type: "post",
                data: data,
                url: /*[[@{/admin/position/delete/}]]*/"/admin/position/delete/",
                dataType: "json",
                success: function (data) {
                    if (data.status === "OK") {
                        $("#" + id).remove();
                        console.log("success");
                    } else {
                        alert(data.result);
                    }
                }
            })
        }

        function updatePosition(id) {
            var data = {
                'id': id,
                'name': $('#name' + id).val(),
                'curName': $('#curName' + id).val(),
                'value': $('#value' + id).val(),
                'order': $('#order' + id).val(),
                'forUser': !!$('#inForm' + id).prop('checked')
            };
            data[_csrf_param_name] = _csrf_token;
            $.ajax({
                type: "post",
                data: data,
                url: /*[[@{/admin/position/edit/}]]*/"",
                dataType: "json",
                success: function (data) {
                    if (data.status === "OK") {
                        $("#originName" + id).val($("#name" + id).val());
                        $("#originCurName" + id).val($("#curName" + id).val());
                        $("#originValue" + id).val($("#value" + id).val());
                        $("#originOrder" + id).val($("#order" + id).val());
                        $("#originInForm" + id).prop('checked', $('#inForm').prop('checked'))
                    }
                    else {
                        $("#name" + id).val($("#originName" + id).val());
                        $("#curName" + id).val($("#originCurName" + id).val());
                        $("#value" + id).val($("#originValue" + id).val());
                        $("#order" + id).val($("#originOrder" + id).val());
                        $("#inForm" + id).prop('checked', !!$('#originInForm').checked)
                    }
                }
            });
        }
    </script>
</div>

</body>
</html>