<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Positions</title>
</head>
<body>
<div th:fragment="content" class="col-md-10">
    <div class="table-responsive">
        <div class="has-error form-group" th:if="${message!=null}">
            <label th:text="${message}" class="help-block"></label>
        </div>
        <table class="table table-hover text-center" id="positions">
            <thead>
            <th th:text="#{volunteers.position.name}" class="text-center">Position</th>
            <th th:text="#{volunteers.position.value}" class="text-center" th:unless="${isUser}">Value</th>
            <th th:text="#{volunteers.position.orger}" class="text-center" th:unless="${isUser}">Order</th>
            <th th:unless="${isUser}"></th>
            </thead>
            <tbody>
            <th:block th:each="position : ${positions}">
                <tr th:id="${position.id}">
                    <td>
                        <label th:text="${position.name}" th:for="position+${position.id}">
                        </label>
                    </td>
                    <td th:unless="${isUser}">
                        <input type="number" step="any" class="form-control"
                               th:value="${position.value}" th:id="position+${position.id}"
                               th:name="v+${position.id}" min="0"
                               th:onblur="'changePositionValue('+${position.id}+', this.value);'"/>
                        <input type="hidden" th:value="${position.value}"
                               th:id="originValue+${position.id}"/>
                    </td>
                    <td th:unless="${isUser}">
                        <input type="number" class="form-control" th:value="${position.ord}"
                               th:id="'order'+${position.id}"
                               th:onblur="'changePositionOrder('+${position.id}+', this.value);'"/>
                        <input type="hidden" th:value="${position.ord}"
                               th:id="originOrder+${position.id}"/>
                    </td>
                    <td th:unless="${isUser}">
                        <a th:unless="${position.def}"
                           th:onclick="'deletePosition('+${position.id}+'); return false;'"
                           class="btn btn-default" role="button"
                           th:text="#{volunteers.form.button.delete}">Delete</a>
                        <a th:if="${position.def}" class="btn btn-default" role="button"
                           disabled="true" th:text="#{volunteers.form.button.delete}">Delete</a>
                    </td>
                </tr>
            </th:block>
            <tr th:unless="${isUser}">
                <td colspan="4" class="text-center">
                    <a href="#" data-toggle="modal" data-target="#positionForm" class="btn btn-default "
                       role="button" th:text="#{volunteers.hall.button.add}">Add</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="positionForm" tabindex="-1" role="dialog" aria-labelledby="positionLabel"
         th:unless="${isUser}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="post" th:object="${newPosition}" id="position">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="positionLabel" th:text="#{volunteers.form.position.header}">Add
                            new position</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group"
                             th:class="${#fields.hasErrors('name')}? 'has-error form-group' : 'form-group'">
                            <label for="positionName" th:text="#{volunteers.form.position.positionName}">Position
                                name</label>
                            <input type="text" class="form-control" id="positionName" th:field="*{name}"/>
                            <span class="help-block" th:if="${#fields.hasErrors('name')}"
                                  th:text="#{volunteers.form.position.positionName.error}"></span>
                        </div>
                        <div class="form-group"
                             th:class="${#fields.hasErrors('value')}? 'has-error form-group':'form-group'">
                            <label for="positionValue" th:text="#{volunteers.form.position.positionValue}">Position
                                value</label>
                            <input type="number" step="any" class="form-control" id="positionValue" th:field="*{value}"
                                   value="0" min="0"/>
                            <span class="help-block" th:if="${#fields.hasErrors('value')}">Error</span>
                        </div>
                        <div class="form-group"
                             th:class="${#fields.hasErrors('order')? 'has-error form-group': 'form-group'}">
                            <label for="positionOrder" th:text="#{volunteers.form.position.order}">Position
                                order</label>
                            <input type="number" class="form-control" id="positionOrder" th:field="*{order}" value="0"/>
                            <span class="help-block" th:if="${#fields.hasErrors('order')}">Error</span>
                        </div>
                    </div>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-link" data-dismiss="modal"
                           th:text="#{volunteers.form.button.close}">Close</a>
                        <button type="submit" class="btn btn-primary" th:text="#{volunteers.form.button.add}">Add
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script th:inline="javascript" th:unless="${isUser}">
        $(function () {
            $('#position').validate({
                rules: {
                    name: {
                        minlength: 1,
                        required: true
                    }
                },
                messages: {
                    name: /*[[#{volunteers.form.position.positionName.error}]]*/""
                },
                errorElement: 'span',
                errorClass: 'help-block',
                highlight: function (element) {
                    $(element).closest('.form-group').addClass('has-error');
                },
                unhighlight: function (elements) {
                    $(elements).closest('.form-group').removeClass('has-error');
                },
                submitHandler: function (form) {
                    var str = $(form).serialize();
                    console.log(str);
                    $.ajax({
                        type: "post",
                        data: str,
                        url: /*[[@{/admin/position/add/}]]*/"/admin/position/add/",
                        dataType: "json",
                        success: function (data) {
                            if (data.status === "OK") {
                                var note = /*[[#{volunteers.form.button.delete}]]*/'Delete';
                                var str = '<tr id="' + data.result.id + '">' +
                                    '<td>' +
                                    '<label for="position' + data.result.id + '">' + data.result.name + '</label>' +
                                    '</td>' +
                                    '<td>' +
                                    '<input type="number" step="any" class="form-control" min="0" id="position' + data.result.id + '" name="v' + data.result.id + '" value="' + data.result.value + '" onblur="changePositionValue(' + data.result.id + ', this.value);"/>' +
                                    '<input type="hidden" id="originValue' + data.result.value + '" value="' + data.result.value + '" />' +
                                    '</td>' +
                                    '<td>' +
                                    '<input type="number" class="form-control" value="' + data.result.ord + '" id="order' + data.result.id + '" onblur="changePositionOrder(' + data.result.id + ', this.value);"/>' +
                                    '<input type="hidden" value="' + data.result.ord + '" id="originOrder' + data.result.id + '" />' +
                                    '</td>' +
                                    '<td>' +
                                    '<a class="btn btn-default" role="button" onclick="deletePosition(' + data.result.id + '); return false;">' + note + '</a>' +
                                    '</td>' +
                                    '</tr>';
                                $("#positions tbody").find("tr:last").before(str);
                                $("#positionForm").modal("hide");
                                form.reset();
                            }
                            if (data.status === "FAIL") {
                            }
                            console.log("success");
                        }
                    });
                }
            })
        });

        function deletePosition(id) {
            var data = {
                'id': id
            };
            data[_csrf_param_name] = _csrf_token;
            $.ajax({
                type: "post",
                data: data,
                url: /*[[@{/admin/position/delete/}]]*/"/admin/position/delete/",
                dataType: "json",
                success: function (data) {
                    if (data.status === "OK") {
                        $("#" + id).remove();
                        console.log("success");
                    } else {
                        alert(data.result);
                    }
                }
            })
        }

        function changePositionValue(id, value) {
            console.log(id + " " + value);
            if ($("#originValue" + id).val() !== value) {
                var data = {
                    'id': id,
                    'value': value
                };
                data[_csrf_param_name] = _csrf_token;
                $.ajax({
                    type: "post",
                    data: data,
                    url: /*[[@{/admin/position/value/}]]*/"/admin/position/value",
                    dataType: "json",
                    success: function (data) {
                        if (data.status === "OK") {
                            $("#originValue" + id).val(value);
                            console.log("success");
                        } else {
                            console.log("ERROR!!", data);
                            $("#position" + id).val($("#originValue" + id).val());
                        }
                    },
                    error: function (data) {
                        console.log("ERROR!!", data);
                        $("#position" + id).val($("#originValue" + id).val());
                    }
                })
            }
        }

        function changePositionOrder(id, value) {
            console.log(id + " " + value);
            if ($("#originOrder" + id).val() !== value) {
                var data = {
                    'id': id,
                    'order': value
                };
                data[_csrf_param_name] = _csrf_token;
                $.ajax({
                    type: "post",
                    data: data,
                    url: /*[[@{/admin/position/order/}]]*/"",
                    success: function (data) {
                        if (data.status === "OK") {
                            $('#originOrder' + id).val(value);
                            console.log("success");
                        }
                        else {
                            console.error(data);
                            $("#order" + id).val($("#originOrder" + id).val());
                        }
                    },
                    error: function (data) {
                        console.error(data);
                        $("#order" + id).val($("#originOrder" + id).val());
                    }

                })
            }

        }
    </script>
</div>

</body>
</html>