<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" />
    <title>Positions</title>
</head>
<body>
    <div th:fragment="content"  class="col-md-10">
        <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <th>Position</th>
                        <th>Value Position</th>
                    </thead>
                    <tbody>
                        <form th:action="@{/admin/position/values}" method="post">
                            <th:block th:each="position : ${positions}">
                                <tr>
                                    <td>
                                        <label th:text="${position.position.name}" th:for="position+${position.id}">
                                        </label>
                                    </td>
                                    <td>
                                        <input type="number" step="any" class="form-control" th:value="${position.value}" th:id="position+${position.id}" th:name="v+${position.id}" min="0"/>
                                    </td>
                                    <td>
                                        <a th:href="@{'/admin/position/delete?id='+${position.id}}" class="btn btn-default" role="button" th:disabled="${position.position.def}">Delete</a>
                                    </td>
                                </tr>
                            </th:block>
                            <tr>
                                <td></td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target="#positionForm" class="btn btn-default" role="button">Add</a>
                                    <button type="submit" class="btn btn-primary" th:text="save"></button>
                                </td>
                            </tr>
                        </form>
                    </tbody>
                </table>
        </div>
            <!-- Modal -->
        <div class="modal fade" id="positionForm" tabindex="-1" role="dialog" aria-labelledby="positionLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form method="post" th:action="@{/admin/position/add}" th:object="${newPosition}">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="positionLabel">Add new position</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group" th:class="${#fields.hasErrors('name')}? 'has-error form-group' : 'form-group'">
                                <label for="positionName">Position name</label>
                                <input type="text" class="form-control" id="positionName" th:field="*{name}" />
                                <span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                            </div>
                            <div class="form-group" th:class="${#fields.hasErrors('value')}? 'has error form-group':'form-group'">
                                <label for="positionValue">Position value</label>
                                <input type="number" step="any" class="form-control" id="positionValue" th:field="*{value}" value="0" min="0"/>
                                <span class="help-block"  th:if="${#fields.hasErrors('value')}">Error</span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="#" class="btn btn-link" data-dismiss="modal">Close</a>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>