<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" />
    <title>Profile</title>
</head>
<body>
    <div th:fragment="content" class="col-md-8">
        <div class="row">
            <form th:action="@{/user/profile}" th:object="${profile}" method="post" class="form-horizontal col-sm-offset-3 col-sm-6">
                <div th:if="${isProfileUpdated}" th:text="#{volunteers.form.profile.updated}"
                     class="alert alert-success" role="alert">Profile updated</div>

                <h2 class="col-sm-offset-4" th:text="#{volunteers.form.profile.header}">Profile</h2>

                <div class="form-group" th:class="form-group" th:classappend="${#fields.hasErrors('firstName')} ? 'has-error'">
                    <label for="inputFirstName" class="col-sm-4 control-label"
                           th:text="#{volunteers.form.signUp.firstName}">First Name</label>

                    <div class="col-sm-8">
                        <input type="text" th:field="*{firstName}" class="form-control" id="inputFirstName"
                               placeholder="First name" th:placeholder="#{volunteers.form.signUp.firstName}"
                               oninput="badgeNameOnInput()"/>

                        <span class="help-block" th:if="${#fields.hasErrors('firstName')}"
                              th:text="#{volunteers.form.signUp.firstName.error.empty}">Can't be empty</span>
                    </div>
                </div>

                <div class="form-group" th:class="form-group" th:classappend="${#fields.hasErrors('lastName')} ? 'has-error'">
                    <label for="inputLastName" class="col-sm-4 control-label"
                           th:text="#{volunteers.form.signUp.lastName}">Last Name</label>

                    <div class="col-sm-8">
                        <input type="text" th:field="*{lastName}" class="form-control" id="inputLastName"
                               placeholder="Last name" th:placeholder="#{volunteers.form.signUp.lastName}"
                               oninput="badgeNameOnInput()"/>

                        <span class="help-block" th:if="${#fields.hasErrors('lastName')}"
                              th:text="#{volunteers.form.signUp.lastName.error.empty}">Can't be empty</span>
                    </div>
                </div>

                <div class="form-group" th:class="form-group" th:classappend="${#fields.hasErrors('firstNameCyr')} ? 'has-error'">
                    <label for="inputFirstNameCyr" class="col-sm-4 control-label"
                           th:text="#{volunteers.form.signUp.firstNameCyr}">Имя</label>

                    <div class="col-sm-8">
                        <input type="text" th:field="*{firstNameCyr}" class="form-control" id="inputFirstNameCyr"
                               placeholder="Имя" th:placeholder="#{volunteers.form.signUp.firstNameCyr}"
                               oninput="badgeNameCyrOnInput()"/>

                        <span class="help-block" th:if="${#fields.hasErrors('firstNameCyr')}"
                              th:text="#{volunteers.form.signUp.firstNameCyr.error.empty}">Can't be empty</span>
                    </div>
                </div>

                <div class="form-group" th:class="form-group" th:classappend="${#fields.hasErrors('lastNameCyr')} ? 'has-error'">
                    <label for="inputLastNameCyr" class="col-sm-4 control-label"
                           th:text="#{volunteers.form.signUp.lastNameCyr}">Фамилия</label>

                    <div class="col-sm-8">
                        <input type="text" th:field="*{lastNameCyr}" class="form-control" id="inputLastNameCyr"
                               placeholder="Фамилия" th:placeholder="#{volunteers.form.signUp.lastNameCyr}"
                               oninput="badgeNameCyrOnInput()"/>

                        <span class="help-block" th:if="${#fields.hasErrors('lastNameCyr')}"
                              th:text="#{volunteers.form.signUp.lastNameCyr.error.empty}">Can't be empty</span>
                    </div>
                </div>

                <div class="form-group" th:class="form-group" th:classappend="${#fields.hasErrors('badgeName')} ? 'has-error'">
                    <label for="inputBadgeName" class="col-sm-4 control-label"
                           th:text="#{volunteers.form.signUp.badgeName}">Badge name</label>

                    <div class="col-sm-8">
                        <input type="text" th:field="*{badgeName}" class="form-control" id="inputBadgeName"
                               disabled="disabled"
                               placeholder="Badge name" th:placeholder="#{volunteers.form.signUp.badgeName}"/>

                        <span class="help-block" th:if="${#fields.hasErrors('badgeName')}"
                              th:text="#{volunteers.form.signUp.badgeName.error.empty}">Can't be empty</span>
                    </div>
                </div>

                <div class="form-group" th:class="form-group" th:classappend="${#fields.hasErrors('badgeNameCyr')} ? 'has-error'">
                    <label for="inputBadgeNameCyr" class="col-sm-4 control-label"
                           th:text="#{volunteers.form.signUp.badgeNameCyr}">Имя на бейдже</label>

                    <div class="col-sm-8">
                        <input type="text" th:field="*{badgeNameCyr}" class="form-control" id="inputBadgeNameCyr"
                               disabled="disabled"
                               placeholder="Имя на бейдже" th:placeholder="#{volunteers.form.signUp.badgeNameCyr}"/>

                        <span class="help-block" th:if="${#fields.hasErrors('badgeNameCyr')}"
                              th:text="#{volunteers.form.signUp.badgeNameCyr.error.empty}">Не может быть пустым</span>
                    </div>
                </div>

                <div class="form-group" th:class="form-group" th:classappend="${#fields.hasErrors('phone')} ? 'has-error'">
                    <label for="inputPhone" class="col-sm-4 control-label"
                           th:text="#{volunteers.form.signUp.phone}">Phone</label>
                    <div class="col-sm-8">
                        <input type="text" th:field="*{phone}" class="form-control" id="inputPhone"
                               placeholder="Phone" th:placeholder="#{volunteers.form.signUp.phone}"
                               pattern="\+7[\(]\d{3}[\)]\d{3}[\-]?\d{2}[\-]?\d{2}"
                        />
                        <span class="help-block" th:if="${#fields.hasErrors('phone')}"
                              th:text="#{volunteers.form.signUp.phone.error.invalid}">Incorrect phone number</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <button type="submit" class="btn btn-primary" th:text="#{volunteers.form.button.update}">Update</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            <form th:action="@{/user/email}" th:object="${emailForm}" method="post"
                  class="form-horizontal col-sm-offset-3 col-sm-6" id="emailForm">
                <div th:if="${isEmailChanged}" th:text="#{volunteers.form.email.changed}"
                     class="alert alert-success" role="alert">Email changed</div>

                <h2 class="col-sm-offset-4" th:text="#{volunteers.form.email.header}">Email</h2>

                <div class="form-group" th:class="form-group" th:classappend="${#fields.hasErrors('email') || #fields.hasErrors('emailExist')} ? 'has-error'">
                    <label for="inputEmail" class="col-sm-4 control-label"
                           th:text="#{volunteers.form.email.email}">Email</label>

                    <div class="input-group col-sm-8">
                        <input type="text" th:field="*{email}" class="form-control" id="inputEmail"
                               placeholder="Email" th:placeholder="#{volunteers.form.email.email}"/>
                        <span class="input-group-addon"
                              th:title="#{${currentUser.confirmed ? 'volunteers.form.email.status.confirmed' : 'volunteers.form.email.status.notConfirmed'}}">
                            <span class="glyphicon"
                                  th:classappend="${currentUser.confirmed ? 'glyphicon-ok text-success' : 'glyphicon-time text-warning'}">
                            </span>
                        </span>

                        <span class="help-block" th:if="${#fields.hasErrors('email')}"
                              th:text="#{volunteers.form.signUp.email.error.invalid}">Invalid email</span>
                        <span class="help-block" th:if="${#fields.hasErrors('emailExist')}"
                              th:text="#{volunteers.form.signUp.email.error.exist}">This email is already in use</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <button type="submit" class="btn btn-primary" th:text="#{volunteers.form.button.change}">Change</button>
                    </div>
                </div>
            </form>
        </div>

        <script src="/js/signup.js" th:src="@{/js/signup.js}"></script>

        <script th:inline="javascript">
            $(function () {
                $('#emailForm').validate({
                    rules: {
                        email: {
                            required: true,
                            email: true
                        }
                    },
                    messages: {
                        required: /*[[#{volunteers.form.signUp.email.error.empty}]]*/"",
                        email: /*[[#{volunteers.form.signUp.email.error.invalid}]]*/""
                    },
                    errorElement: 'span',
                    errorClass: 'help-block',
                    highlight: function (element) {
                        $(element).closest('.form-group').addClass('has-error');
                    },
                    unhightlight: function (element) {
                        $(element).closest('.form-group').removeClass('has-error');
                    }
                });
            });
        </script>

    </div>
</body>
</html>
