<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="UTF-8" />
<title>Title</title>
</head>
<body>
    <div th:fragment="content">
        <a th:href="@{'/admin/year?id='+${event.year.id}}">Back</a> <a th:href="@{'/admin/event/edit?id='+${event.id}}">Edit</a>
        <table>
            <th:block th:each="hall:${halls}">
                <tr>
                    <td th:text="${hall}"></td>
                    <td>
                        <ul>
                            <th:block th:each="user:${hallUser.get(hall)}">
                                <li th:text="${user}"></li>
                            </th:block>
                        </ul>
                    </td>
                </tr>
            </th:block>
        </table>
    </div>
</body>
</html>