<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:fragment="content" class="col-md-10">
    <table class="table table-hover table-fixed" id="results">
        <thead>
        <th th:text="#{volunteers.results.users}">
            User
        </th>
        <th th:text="#{volunteers.results.medal}+' ('+#{volunteers.results.experience}+')'">
            Medal (Experience)
        </th>
        </thead>
        <tbody>
        <th:block th:each="applicationForm:${medals}">
            <tr>
                <td class="text-center">
                    <label th:text="${applicationForm.first.user.badgeName}"></label>
                </td>
                <td>
                    <h5><label
                            th:text="${applicationForm.second.name} + ' ('+${exp.get(applicationForm.first)}+')'"></label>
                    </h5>
                    <h5><label th:if="${applicationForm.second.stars > 0}">
                        <th:block th:utext="#{volunteers.medals.star}"
                                  th:each="i:${#numbers.sequence(1,applicationForm.second.stars)}">

                        </th:block>
                    </label></h5>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>
</html>