<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" />
    <title>Sign Up for Year</title>
</head>
<body>
    <div th:fragment="content">
        <form th:action="@{/years/{id}/signup(id=${year.id})}" th:object="${applicationForm}" method="post" class="col-sm-offset-3 col-sm-6">
            <h2 th:text="#{volunteers.form.yearSignUp.header(${year.name})}">Sign Up for Year</h2>

            <div class="form-group">
                <label class="control-label" th:text="#{volunteers.form.yearSignUp.events}">Events</label>

                <div class="list-group">
                    <div class="list-group-item" th:each="event : ${year.days}">
                        <h4 class="list-group-item-heading" th:text="${event.name}"></h4>
                        <p class="list-group-item-text" th:text="${event.information}"></p>
                    </div>
                </div>
            </div>

            <div class="form-group" th:classappend="${#fields.hasErrors('group')} ? 'has-error'">
                <label class="control-label" th:text="#{volunteers.form.yearSignUp.group}">Group</label>

                <input type="text" th:field="*{group}" class="form-control" />

                <span class="help-block" th:if="${#fields.hasErrors('group')}"
                      th:text="#{volunteers.form.yearSignUp.group.error.empty}">Group can't be empty</span>
            </div>

            <div class="form-group" th:classappend="${#fields.hasErrors('positions')} ? 'has-error'">
                <label class="control-label" th:text="#{volunteers.form.yearSignUp.positions}">Positions Desired</label>

                <div class="list-group">
                    <div class="list-group-item" th:each="position : ${positions}">
                        <label class="list-group-item-text">
                            <input type="checkbox" th:field="*{positions}" th:value="${position.id}"/>
                            <span th:text="${position.name}" th:remove="tag"></span>
                        </label>
                    </div>
                </div>

                <span class="help-block" th:if="${#fields.hasErrors('positions')}"
                      th:text="#{volunteers.form.yearSignUp.positions.error.empty}">Choose at least one position</span>
            </div>

            <div class="form-group">
                <label for="suggestionsTextArea" th:text="#{volunteers.form.yearSignUp.comments}">Comments</label>

                <textarea th:field="*{suggestions}" class="form-control" rows="3"></textarea>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary"
                        th:text="#{volunteers.form.yearSignUp.signUp}">Sign Up</button>
            </div>
        </form>
    </div>
</body>
</html>
