<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${year.name}">Title</title>
</head>
<body>
<div th:fragment="content" class="col-md-8">
    <form action="#" th:action="@{'/year/'+${year.id}+'/signup/'}" method="post" th:object="${applicationForm}"
          th:if="${isUser} and ${year.openForRegistration} and ${isConfirmed}"
          class="form-horizontal col-sm-offset-2 col-sm-8" id="signUpForm">
        <link rel="stylesheet" type="text/css" media="screen"
              th:href="@{/components/bootstrap-select.min.css}"/>
        <script src="../../components/bootstrap-select.min.js" th:src="@{/components/bootstrap-select.min.js}"></script>
        <h2 class="col-sm-offset-4" th:text="#{volunteers.form.yearSignUp.header(${year.name})}" th:unless="${isSaved}">
            Sign up</h2>
        <h2 class="col-sm-offset-4" th:text="#{volunteers.form.yearSignUp.header.update(${year.name})}"
            th:if="${isSaved}">Update form</h2>

        <div class="form-group" th:class="${#fields.hasErrors('firstName')}? 'has-error form-group' : 'form-group'">
            <label for="inputFirstName" class="col-sm-4 control-label"
                   th:text="#{volunteers.form.signUp.firstName}">First name</label>
            <div class="col-sm-8">
                <input type="text" th:field="*{firstName}" class="form-control" id="inputFirstName"
                       placeholder="First name" oninput="badgeNameOnInput()"
                       th:placeholder="#{volunteers.form.signUp.firstName}"/>
                <span class="help-block" th:if="${#fields.hasErrors('firstName')}"
                      th:text="#{volunteers.form.signUp.firstName.error.invalid}">Can't be empty</span>
            </div>
        </div>
        <div class="form-group" th:class="${#fields.hasErrors('lastName')}? 'has-error form-group' : 'form-group'">
            <label for="inputLastName" class="col-sm-4 control-label" th:text="#{volunteers.form.signUp.lastName}">Last
                name</label>
            <div class="col-sm-8">
                <input type="text" th:field="*{lastName}" class="form-control" id="inputLastName"
                       placeholder="Last name" oninput="badgeNameOnInput()"
                       th:placeholder="#{volunteers.form.signUp.lastName}"/>
                <span class="help-block" th:if="${#fields.hasErrors('lastName')}"
                      th:text="#{volunteers.form.signUp.lastName.error.invalid}">Can't be empty</span>
            </div>
        </div>
        <div class="form-group" th:class="${#fields.hasErrors('firstNameCyr')}? 'has-error form-group' : 'form-group'">
            <label for="inputFirstNameCyr" class="col-sm-4 control-label"
                   th:text="#{volunteers.form.signUp.firstNameCyr}">Имя</label>
            <div class="col-sm-8">
                <input type="text" th:field="*{firstNameCyr}" class="form-control" id="inputFirstNameCyr"
                       placeholder="Имя" oninput="badgeNameCyrOnInput()"
                       th:placeholder="#{volunteers.form.signUp.firstNameCyr}"/>
                <span class="help-block" th:if="${#fields.hasErrors('firstNameCyr')}"
                      th:text="#{volunteers.form.signUp.firstNameCyr.error.invalid}">Не может быть пустым</span>
            </div>
        </div>
        <div class="form-group" th:class="${#fields.hasErrors('lastNameCyr')}? 'has-error form-group' : 'form-group'">
            <label for="inputLastNameCyr" class="col-sm-4 control-label"
                   th:text="#{volunteers.form.signUp.lastNameCyr}">Фамилия</label>
            <div class="col-sm-8">
                <input type="text" th:field="*{lastNameCyr}" class="form-control" id="inputLastNameCyr"
                       placeholder="Фамилия" oninput="badgeNameCyrOnInput()"
                       th:placeholder="#{volunteers.form.signUp.lastNameCyr}"/>
                <span class="help-block" th:if="${#fields.hasErrors('lastNameCyr')}"
                      th:text="#{volunteers.form.signUp.lastNameCyr.error.invalid}">Не может быть пустым</span>
            </div>
        </div>

        <div class="form-group"
             th:classappend="${#fields.hasErrors('email') || #fields.hasErrors('emailCorrect')} ? 'has-error'">
            <label for="inputEmail" class="col-sm-4 control-label"
                   th:text="#{volunteers.form.signUp.email}">Email</label>
            <div class="col-sm-8">
                <input type="email" th:field="*{email}" class="form-control" id="inputEmail"
                       placeholder="Email" th:placeholder="#{volunteers.form.signUp.email}" disabled="disabled"/>
                <span class="help-block" th:if="${#fields.hasErrors('email')}"
                      th:text="#{volunteers.form.signUp.email.error.empty}">Can't be empty</span>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" th:field="*{emailCorrect}" id="emailCorrect" value="true" />
                        <span th:text="#{volunteers.form.yearSignUp.emailCorrect}" th:remove="tag">Email is correct</span>
                    </label>
                </div>
                <span class="help-block" th:if="${#fields.hasErrors('emailCorrect')}"
                      th:text="#{volunteers.form.yearSignUp.emailCorrect.error}"></span>
            </div>
        </div>

        <div class="form-group" th:class="(${#fields.hasErrors('phone')})? 'has-error form-group':'form-group'">
            <label for="inputPhone" class="col-sm-4 control-label"
                   th:text="#{volunteers.form.signUp.phone}">Phone</label>
            <div class="col-sm-8">
                <input type="tel" th:field="*{phone}" class="form-control" id="inputPhone"
                       placeholder="Phone" th:placeholder="#{volunteers.form.signUp.phone}"
                       pattern="\+7[\(]\d{3}[\)]\d{3}[\-]?\d{2}[\-]?\d{2}"
                />
                <span class="help-block" th:if="${#fields.hasErrors('phone')}"
                      th:text="#{volunteers.form.signUp.phone.error.invalid}">Incorrect phone number</span>
            </div>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('group')} ? 'has-error'">
            <label class="control-label col-sm-4" th:text="#{volunteers.form.yearSignUp.group}">Group</label>

            <div class="col-sm-8">
                <input type="text" th:field="*{group}" class="form-control"/>

                <span class="help-block" th:if="${#fields.hasErrors('group')}"
                      th:text="#{volunteers.form.yearSignUp.group.error.empty}">Group can't be empty</span>
            </div>
        </div>

        <div class="form-group" th:class="${#fields.hasErrors('itmoId')}? 'has-error form-group' : 'form-group'">
            <label for="itmoId" class="col-sm-4 control-label"
                   th:text="#{volunteers.form.signUp.itmoId}">Itmo id</label>
            <div class="col-sm-8">
                <input type="text" th:field="*{itmoId}" class="form-control" id="itmoId"
                       placeholder="Confirm password" th:placeholder="#{volunteers.form.signUp.itmoId}"/>
                <span class="help-block" th:if="${#fields.hasErrors('itmoId')}"
                      th:text="#{volunteers.form.signUp.itmoId.error.invalid}">Itmo id is not valid</span>
            </div>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('positions')} ? 'has-error'">
            <label class="control-label col-sm-4" th:utext="#{volunteers.form.yearSignUp.positions}">Positions
                desired</label>

            <div class="col-sm-8">
                <!--<div class="list-group">
                    <div class="list-group-item" th:each="position : ${positions}">
                        <label class="list-group-item-text">
                            <input type="checkbox" th:field="*{positions}" th:value="${position.id}"/>
                            <span th:text="${position.name}" th:remove="tag"></span>
                        </label>
                    </div>
                </div>-->
                <select class="selectpicker" th:field="*{positions}" multiple="multiple">
                    <th:block th:each="position: ${positions}">
                        <option th:value="${position.id}" th:text="${position.name}"></option>
                    </th:block>
                </select>
            </div>

            <span class="help-block" th:if="${#fields.hasErrors('positions')}"
                  th:text="#{volunteers.form.yearSignUp.positions.error.empty}">Choose at least one position</span>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('covidStatus')} ? 'has-error'">
            <label class="control-label col-sm-4" th:utext="#{volunteers.form.yearSignUp.covid}">Positions
                desired</label>

            <div class="col-sm-8">
                <select class="selectpicker" th:field="*{covidStatus}">
                    <option value="" hidden="hidden">Nothing selected</option>
                    <option value="I've already been ill">I've already been ill</option>
                    <option value="I took two doses">I took two doses</option>
                    <option value="I will make two doses by April 1">I will make two doses by April 1</option>
                    <option value="I will make the first dose by April 1">I will make the first dose by April 1</option>
                    <option value="I don't plan to do it">I don't plan to do it</option>
                </select>
            </div>

            <span class="help-block" th:if="${#fields.hasErrors('covidStatus')}"
                  th:text="#{volunteers.form.yearSignUp.covid.error}">Choose status of vaccination</span>
        </div>

        <div class="form-group">
            <label for="suggestionsTextArea" th:utext="#{volunteers.form.yearSignUp.comments}">Comments, additional wishes</label>

            <textarea th:field="*{suggestions}" class="form-control" rows="3" id="suggestionsTextArea"></textarea>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('agree')} ? 'has-error'">
            <div class="checkbox">
                <label>
                    <input type="checkbox" th:value="true" th:field="*{agree}" id="agree"/>
                    <span th:utext="#{volunteers.form.yearSignUp.agree}" th:remove="tag"></span>
                </label>
            </div>
            <span class="help-block" th:if="${#fields.hasErrors('agree')}"
                  th:text="#{volunteers.form.yearSignUp.agree.error}">You should agree</span>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <button type="submit" class="btn btn-default" th:text="#{volunteers.form.yearSignUp.signUp}"
                        th:unless="${isSaved}">Sign up
                </button>
                <button type="submit" class="btn btn-default" th:text="#{volunteers.form.yearSignUp.update}"
                        th:if="${isSaved}">Update
                </button>
            </div>
        </div>
        <script th:inline="javascript">
            $(function () {
                $.validator.addMethod("regex", function (value, element, regexpr) {
                    console.info('regex: ' + regexpr + ' value: ' + value + ' result: ' + regexpr.test(value));
                    return regexpr.test(value);
                });
                $('#signUpForm').validate({
                    rules: {
                        firstName: {
                            required: true,
                            regex: /^[a-zA-Z ,.'-]+$/
                        },
                        lastName: {
                            required: true,
                            regex: /^[a-zA-Z ,.'-]+$/
                        },
                        firstNameCyr: {
                            required: true,
                            regex: /^[а-яА-ЯёЁ ,.'-]+$/
                        },
                        lastNameCyr: {
                            required: true,
                            regex: /^[а-яА-ЯёЁ ,.'-]+$/
                        },
                        email: {
                            required: true,
                            email: true
                        },
                        phone: {
                            required: true,
                            regex: /^\+7[\(]\d{3}[\)]\d{3}[\-]\d{2}[\-]\d{2}$/
                        },
                        itmoId: {
                            regex: /^(\d{6})?$/
                        }
                    },
                    messages: {
                        firstName: {
                            required: /*[[#{volunteers.form.signUp.firstName.error.empty}]]*/"",
                            regex: /*[[#{volunteers.form.signUp.firstName.error.invalid}]]*/""
                        },
                        lastName: {
                            required: /*[[#{volunteers.form.signUp.lastName.error.empty}]]*/"",
                            regex: /*[[#{volunteers.form.signUp.lastName.error.invalid}]]*/""
                        },
                        firstNameCyr: {
                            required: /*[[#{volunteers.form.signUp.firstNameCyr.error.empty}]]*/"",
                            regex: /*[[#{volunteers.form.signUp.firstNameCyr.error.invalid}]]*/""
                        },
                        lastNameCyr: {
                            required: /*[[#{volunteers.form.signUp.lastNameCyr.error.empty}]]*/"",
                            regex: /*[[#{volunteers.form.signUp.lastNameCyr.error.invalid}]]*/""
                        },
                        email: {
                            required: /*[[#{volunteers.form.signUp.lastName.error.empty}]]*/"",
                            email: /*[[#{volunteers.form.signUp.email.error.invalid}]]*/""
                        },
                        phone: {
                            required: /*[[#{volunteers.form.signUp.phone.error.empty}]]*/"",
                            regex: /*[[#{volunteers.form.signUp.phone.error.invalid}]]*/""
                        },
                        itmoId: {
                            regex: /*[[#{volunteers.form.signUp.itmoId.error.invalid}]]*/""
                        }
                    },
                    errorElement: 'span',
                    errorClass: 'help-block',
                    highlight: function (element) {
                        $(element).closest('.form-group').addClass('has-error');
                    },
                    unhighlight: function (element) {
                        $(element).closest('.form-group').removeClass('has-error');
                    }
                })
            });
            $(document).ready(function () {
                $('.selectpicker').selectpicker();
            });
        </script>
    </form>
    <h2 class="col-sm-offset-4" th:if="${isUser} and ${!year.openForRegistration} and ${isConfirmed}"
        th:text="#{volunteers.form.yearSignUp.finish}">Registration is finished</h2>

    <div th:if="${isUser} and ${year.openForRegistration} and ${!isConfirmed} and ${isConfirmationSent}"
         th:text="#{volunteers.email.confirm.emailSent}"
         class="alert alert-success" role="alert">Confirmation email sent</div>
    <h2 class="col-sm-offset-4" th:if="${isUser} and ${year.openForRegistration} and ${!isConfirmed}">
        <span th:text="#{volunteers.email.confirm.reqest}"></span>
        <a th:href="@{/user/confirm/}" class="" th:text="#{volunteers.email.confirm.link}"> send email again</a>
    </h2>
</div>
</body>
</html>
