<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="header" class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{ (${isUser} ? '/' : '/admin/year/'+${year.id}+'/')}"
               th:text="#{volunteers.header}">Volunteers</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown" th:inline="text">
                    <a th:href="@{${isUser} ? '/year/'+${year.id} : '/admin/year/'+${year.id}}" class="dropdown-toggle"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false" role="button">
                        <span th:text="${year.name}"></span>
                        <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu">
                        <th:block th:each="y : ${years}">
                            <li th:class="${year.id==y.id} ? 'active'">
                                <a th:href="@{${isUser} ? '/year/'+${y.id} : '/admin/year/'+${y.id}+'/'}"
                                   th:text="${y.name}"></a>
                            </li>
                        </th:block>
                        <li th:unless="${isUser}">
                            <a href="#" data-toggle="modal" data-target="#yearForm"
                               th:text="#{volunteers.form.button.add}">
                                Add
                            </a>
                        </li>
                    </ul>
                    <div class="modal fade" id="yearForm" tabindex="-1" role="dialog" aria-labelledby="yearLabel"
                         th:unless="${isUser}">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <form method="post" th:action="@{/admin/year/add}" th:object="${newYear}">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="yearLabel" th:text="#{volunteers.form.year.header}">
                                            Add year</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group"
                                             th:class="${#fields.hasErrors('name')}? 'has-error form-group' : 'form-group'">
                                            <label for="positionName"
                                                   th:text="#{volunteers.form.year.name}">Year</label>
                                            <input type="text" class="form-control" id="positionName"
                                                   th:field="*{name}"/>
                                            <span class="help-block" th:if="${#fields.hasErrors('name')}"
                                                  th:text="#{volunteers.form.year.name.error.empty}"></span>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal"
                                                th:text="#{volunteers.form.button.close}">Close
                                        </button>
                                        <button type="submit" class="btn btn-primary"
                                                th:text="#{volunteers.form.button.add}">Add
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </li>
                <li th:unless="${isUser}">
                    <a th:href="@{'/year/'+${year.id}+'/'}" th:text="#{volunteers.header.touser}">Go to user
                        interface</a>
                </li>
                <th:block th:if="${day!=null}">
                    <li>
                        <p th:text="${day.name}" class="navbar-text"></p>
                    </li>
                </th:block>
            </ul>
            <ul class="nav navbar-nav navbar-right" th:if="${currentUser != null}">
                <li th:if="${emailForm!=null}">
                    <a class="navbar-link" href="#" data-toggle="modal" data-target="#emailModal">Change email</a>
                </li>
                <li><a class="navbar-link" th:href="@{/user/profile}" th:text="${currentUser.badgeName}">User Name</a></li>
                <li>
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="btn btn-default navbar-btn" th:text="#{volunteers.header.logout}">
                            Log out
                        </button>
                    </form>
                </li>
            </ul>
        </div>

        <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailLabel"
             th:if="${emailForm!=null}">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form method="post" th:action="@{/user/email}" th:object="${emailForm}" id="emailForm">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="emailLabel" th:text="#{volunteers.form.email.header}">Change
                                email</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group"
                                 th:class="${#fields.hasErrors('email')} or ${#fields.hasErrors('emailExist')}? 'has-error form-group' : 'form-group'">
                                <label for="eventName" th:text="#{volunteers.form.email.email}">Email</label>
                                <input type="email" class="form-control" id="eventName" th:field="*{email}"/>
                                <span class="help-block" th:if="${#fields.hasErrors('email')}"
                                      th:text="#{volunteers.form.email.email.error}"></span>
                                <span class="help-block" th:if="${#fields.hasErrors('emailExist')}"
                                      th:text="#{volunteers.form.signUp.email.error.exist}"></span>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal"
                                    th:text="#{volunteers.form.button.close}">Close
                            </button>
                            <button type="submit" class="btn btn-primary" th:text="#{volunteers.form.button.change}">
                                Change
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script th:inline="javascript">
            $(function () {
                $('#emailForm').validate({
                    rules: {
                        email: {
                            required: true,
                            email: true
                        }
                    },
                    messages: {
                        email: /*[[#{volunteers.form.email.email.error}]]*/""
                    },
                    errorElement: 'span',
                    errorClass: 'help-block',
                    highlight: function (element) {
                        $(element).closest('.form-group').addClass('has-error');
                    },
                    unhightlight: function (element) {
                        $(element).closest('.form-group').removeClass('has-error');
                    }
                });
            });
        </script>

    </div>
</nav>
</body>
</html>
