<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <div th:fragment="menu" class="col-md-2">
        <ul id="sidebar" class="nav nav-pills nav-stacked admin-sidebar well well-sm">

            <li>
                <span style="color: #337ab7">
                    Registration
                </span>
                <div class="material-switch pull-right collapsed">
                    <input type="checkbox" id="registration" name="registration"
                           th:checked="${year.openForRegistration}"/>
                    <label for="registration" class="label-success"></label>
                </div>
            </li>
            <li><a href="#eventsList" data-toggle="collapse" aria-expanded="true" aria-controls="eventsList">
                <span class="glyphicon glyphicon-chevron-down expanded" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-chevron-up collapsed" aria-hidden="true"></span>
                <span th:text="#{volunteers.admin.menu.events}">Events</span>
            </a>
                <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#eventForm">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
                <ul class="collapse in" id="eventsList">
                    <th:block th:each="event : ${events}">
                        <li>
                            <a th:href="@{'/admin/event/'+${event.id}+'/'}" th:text="${event.name}"></a>
                        </li>
                    </th:block>
                </ul>
            </li>
            <li>
                <a th:href="@{/admin/position}" class="collapsed" th:text="#{volunteers.admin.menu.positions}">
                    Positions</a>
            </li>
            <li>
                <a th:href="@{/admin/hall}" class="collapsed" th:text="#{volunteers.admin.menu.halls}">
                    Halls</a>
            </li>
            <li>
                <a th:href="@{/admin/medals}" class="collapsed" th:text="#{volunteers.admin.menu.medals}">Medals</a>
            </li>

            <li>
                <a th:href="@{/admin/results}" class="collapsed" th:text="#{volunteers.admin.menu.results}">Show
                    results</a>
            </li>
            <li>
                <a href="#adminList" class="collapsed" aria-expanded="false" data-toggle="collapse" aria-controls="adminList">
                    <span class="glyphicon glyphicon-chevron-down expanded" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-chevron-up collapsed" aria-hidden="true"></span>
                    <span th:text="#{volunteers.admin.menu.admins}">Admins</span>
                </a>
                <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#adminForm">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
                <ul class="collapse" id="adminList">
                    <th:block th:each="admin:${roleAdmin}">
                        <li>
                            <span th:text="${admin.badgeName}" style="color: #337ab7"></span>
                        </li>
                    </th:block>
                </ul>
            </li>
        </ul>
        <!-- Modal -->

        <div class="modal fade" id="eventForm" tabindex="-1" role="dialog" aria-labelledby="eventLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form method="post" th:action="@{/admin/event/add}" th:object="${newEvent}">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="eventLabel" th:text="#{volunteers.form.event.header}">Add
                                event</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group" th:class="${#fields.hasErrors('name')}? 'has-error form-group' : 'form-group'">
                                <label for="eventName" th:text="#{volunteers.form.event.name}">Event name</label>
                                <input type="text" class="form-control" id="eventName" th:field="*{name}" />
                                <span class="help-block" th:if="${#fields.hasErrors('name')}"
                                      th:text="#{volunteers.form.event.name.error.empty}"></span>
                            </div>
                            <div class="form-group"
                                 th:class="${#fields.hasErrors('attendanceValue')}?'has-error form-group':'form-group'">
                                <label for="evenScore" th:text="#{volunteers.form.event.score}">Score</label>
                                <input type="number" step="any" class="form-control" id="evenScore"
                                       th:field="*{attendanceValue}"/>
                            </div>
                            <div class="form-group" th:class="${#fields.hasErrors('information')}? 'has-error form-group' : 'form-group'">
                                <label for="information"
                                       th:text="#{volunteers.form.event.information}">Information</label>
                                <input type="text" class="form-control" id="information" th:field="*{information}" />
                                <span class="help-block" th:if="${#fields.hasErrors('information')}"
                                      th:text="#{volunteers.form.event.information.error.empty}"></span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal"
                                    th:text="#{volunteers.form.button.close}">Close
                            </button>
                            <button type="submit" class="btn btn-primary" th:text="#{volunteers.form.button.add}">Add
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="adminForm" tabindex="-1" role="dialog" aria-labelledby="adminLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form method="post" id="formAdmin">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="adminLabel" th:text="#{volunteers.form.admin.header}">Add new
                                admin</h4>
                        </div>
                        <div class="modal-body">
                            <select class="form-control" name="userId" id="userId">
                                <th:block th:each="user : ${roleUsers}">
                                    <option th:value="${user.id}" th:text="${user.badgeName}"></option>
                                </th:block>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal"
                                    th:text="#{volunteers.form.button.close}">Close
                            </button>
                            <button type="submit" class="btn btn-primary" th:text="#{volunteers.form.button.add}">Add
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script th:inline="javascript">
            $('#registration').change(function () {
                /*<![CDATA[*/
                var _csrf_token = /*[[${_csrf.token}]]*/ '';
                var _csrf_param_name = /*[[${_csrf.parameterName}]]*/ '';
                /*]]>*/

                var requestData = {
                    'id': /*[[${year.id}]]*/1,
                };
                requestData['isOpen'] = !!this.checked;
                requestData[_csrf_param_name] = _csrf_token;
                $(this).prop("checked", !this.checked);

                $.ajax({
                    type: "POST",
                    url: /*[[@{/admin/year/close}]]*/ '/admin/year/close',
                    data: requestData,
                    success: function () {
                        $('#registration').prop("checked", !$('#registration:checked').val());
                        console.log("success");
                    },
                    error: function (e) {
                        console.log("error", e);
                    }
                })
            })
            $('#formAdmin').validate({
                submitHandler: function (form) {
                    var data = $(form).serialize();
                    var id = $("#formAdmin").find('select[name="userId"]').val();
                    var name = $('#userId option[value="' + id + '"]').html();
                    $.ajax({
                        type: "post",
                        data: data,
                        url: /*[[@{/admin/add/}]]*/"/admin/add/",
                        dataType: "json",
                        success: function (result) {
                            if (result.status === "OK") {
                                $('#userId option[value="' + id + '"]').remove();
                                $('#adminList').append('<li><span style="color: #337ab7">' + name + '</span></li>');
                                $("#adminForm").modal("hide");
                            } else {
                                console.log(result.result);
                            }
                        }
                    })
                }
            })
        </script>
    </div>
</body>
</html>