<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div class="col-md-2" th:fragment="menu">
    <ul id="sidebar" class="nav nav-pills nav-stacked admin-sidebar well well-sm">

        <li>
                <span style="color: #337ab7">
                    Registration
                </span>
            <div class="material-switch pull-right collapsed">
                <input type="checkbox" id="registration" name="registration"
                       th:checked="${year.openForRegistration}" disabled="disabled"/>
                <label for="registration" class="label-success"></label>
            </div>
        </li>
        <li><a href="#eventsList" data-toggle="collapse" aria-expanded="true" aria-controls="eventsList">
            <span class="glyphicon glyphicon-chevron-down expanded" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-chevron-up collapsed" aria-hidden="true"></span>
            <span th:text="#{volunteers.admin.menu.days}">Events</span>
        </a>
            <ul class="collapse in" id="eventsList">
                <th:block th:each="day : ${days}">
                    <li>
                        <a th:href="@{'/day/'+${day.id}+'/'}" th:text="${day.name}"></a>
                    </li>
                </th:block>
            </ul>
        </li>
        <li>
            <a th:href="@{/position/}" class="collapsed" th:text="#{volunteers.admin.menu.positions}">
                Positions</a>
        </li>
        <li>
            <a th:href="@{/hall/}" class="collapsed" th:text="#{volunteers.admin.menu.halls}">
                Halls</a>
        </li>
    </ul>
</div>
</body>
</html>